.app-JobOpportunity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
    height: auto;
    min-height: 410px;
    margin: 5px 230px 0px 230px;
    background-color: whitesmoke;
}

.search {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 900px;
    margin: 15px 230px 20px 230px;
}

.back {
    color: #005194;
}

.div-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

#button-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 400px;
    margin-top: 24px;
    margin-left: 20px;
}

.title-feed {
    display: flex;
    margin: 5px 240px 0px 240px;
    color: rgb(0, 0, 58);
    margin-bottom: 10px;
    margin-top: 0;
}