.search {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 900px;
    margin: 15px 230px 20px 230px;
}

.back {
    color: #005194;
}