.container-how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

#page-hw {
    width: 100%;
    min-height: 485px;

    border: solid 1px gray;

    background-color: white;
}

#img {
    width: 100%;
    max-width: 250px;
    height: 200px;
}

.note {
    font-size: 14px;
    font-weight: bold;
}

.value {
    font-size: 40px;
    color: rgb(0, 0, 58);
}

.text-card {
    margin-top: 77px;
}

.text-listing {
    margin-bottom: 40px;
}

#howitworks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

#howitworks li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 250px;
    width: 100%;

    padding: 0 5px;

    list-style-type: none;
    float: left;
    margin: 0;
    text-align: center;
}

@media(max-width: 1130px) {
    #howitworks {
        flex-direction: column;
    }

    #howitworks svg {
        display: none;
    }
}

@media(max-width: 320px) {
    #img {
        max-width: 220px;
        height: 200px;
    }
}