.App-JobOpportunity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: auto;
    min-height: 450px;
    margin: 5px 230px 0px 230px;
    background-color: whitesmoke;
}

.Box-JobOpportunity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0px 10px 0px;
    height: 320px;
    width: 290px;
    border: solid 1px rgb(223, 223, 223);
    border-radius: 5px;
    background-color: white;
}

.Subtitle-Times {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 50;
    width: 230px;
    margin: 10px 0 10px 0;
}

button#apply-button {
    height: 40px;
    width: 200px;
    border: solid 1px rgb(223, 223, 223);
    margin-left: 0px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
}

.title {
    width: 200px;
    text-align: start;
    font-weight: bold;
}

.time {
    font-size: 15px;
}

.location {
    font-weight: 400;
    margin-right: 112px;
    margin-bottom: 40px;
}

#requirements {
    height: 80px;
    width: 200px;
    text-align: start;
    margin-left: 21px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
}

#nameComporation {
    height: 40px;
    width: 200px;
    font-weight: bold;
    text-align: start;
    margin: 0 20px 20px 21px;
}

div.Box-JobOpportunity:hover {
    color: white;
    position: relative;
    border-color: rgb(73, 73, 223);
    box-shadow: 15px 15px 15px 15px #006fca;
    background-color: rgb(24, 24, 230);
}