.App-JobOpportunity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: auto;
    min-height: 450px;
    margin: 5px 230px 0px 230px;
    background-color: whitesmoke;
}