.App-header {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    border-top: 4px solid #005194;
    border-bottom: 2px solid #D7D5D4;
    color: white;
    background: rgb(0, 0, 58);
}

.App-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#logo {
    font-size: 28px;
}

#header a {
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}

span {
    color: #fff;
    font-weight: 100;
}
a {
    cursor: pointer;
    outline: none;
}

ul {
    display: flex;
    height: 100%;    
    flex-direction: row;
    list-style-type: none;
}

li {
    margin: 0 10px 0 10px;
    font-size: small;
}